div#feedContainer
  div(ng-show="streamToggle") There are {{pausedFeed.length}} item(s) 
    span(ng-click="updateFeed()") Update
  label(for="streamControlOn") On
  input(type="radio", name="streamControlOn", value="1", ng-model="streamToggle", ng-click="toggleFeed()")

  label(for="streamControlOff") Off
  input(type="radio", name="streamControlOff", value="0", ng-model="streamToggle", ng-click="toggleFeed()")
      
  ul(ng-repeat="item in feed")
    li
      div {{item.text}}
      div {{item.source}}

hr

div Feed Simulator
div
  form(ng-submit="addFeedItem(feedItemName)")
    input(type="text", name="feedItemName", placeholder="Enter in a new item", ng-model="feedItemName");
    button(type="button", ng-click="addFeedItem(feedItemName)") Add Item