!!!
html(ng-app="learningApp")
  head
    title="Learning Node App"
    script(src="/lib/angular/angular.js")
  body
    div(ng-view)
  script(src='/socket.io/socket.io.js')  
  script(src="/js/app.js")
  script(src="/js/services.js")
  script(src="/js/controllers.js")

